<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" integrity="sha512-o/MhoRPVLExxZjCFVBsm17Pkztkzmh7Dp8k7/3JrtNCHh0AQ489kwpfA3dPSHzKDe8YCuEhxXq3Y71eb/o6amg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <%-include('nav') -%>
        <form action="user/create" method="post" enctype="multipart/form-data">

            <div class="col-4">
                <div class='circle'>
                  <img src="http://wallpaper.pickywallpapers.com/1920x1080/mark-wahlberg-front-profile.jpg" alt="" onload='fixAspect(this);'>
                </div>
              
              </div>


      <label>
          NAME
      </label>
      <input type="text" name="name"/>
    </br></br></br>
      <label>
        EMAIL
    </label>
    <input type="text" name="email"/>
</br></br></br>
    <label>
      PHONE
    </label>
    <input type="number" name="phone"/>
</br></br></br>

<label>
    City
  </label>
  <input type="text" name="city"/>
</br></br></br>

<label>
   Postcode
  </label>
  <input type="number" name="postcode"/>
</br></br></br>

    <input type="file" name="image">
</br></br></br>

<input type="submit" value="Submit"/>
</form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js" integrity="sha512-ndrrR94PW3ckaAvvWrAzRi5JWjF71/Pw7TlSo6judANOFCmz0d+0YE+qIGamRRSnVzSvIyGs4BTtyFMm3MT/cg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>